.main-container {
  background-color: #f8f8ff;
  margin: auto;
  padding: 0;
}

.page-wrapper {
  box-sizing: border-box;
  padding: 0;
  margin: auto;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-content: center;
}